/* Contact form*/
@import "footer.scss";
@import "header.scss";


.contact_form {
    display: flex;
    justify-content: center;
}
.formularioh1 {
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    color: black;
}
 
/*Fin contact form*/
 